PriorKnowledges/DataInsight/data/*/result/*
PriorKnowledges/DataInsight/neural-subgraph-learning-GNN
PriorKnowledges/DataInsight/ParMol
PriorKnowledges/DataInsight/gaston-1.1
PriorKnowledges/DataInsight/parsemis
PriorKnowledges/DataInsight/significant-subgraph-mining